<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
			I am a software engineer with 5 years' experience currently pursuing Master's degree in Computer Science at Wichita State University, KS, USA.
			My expertise is in developing applications using Java. While working for various clients like Target, Merck, P&G etc. I was able to gain experience in various technologies and platforms like AEM (Adobe Experience Manager), WCS, Java, Swift, Android etc.
        </p>
        <p>
           I love solving real life problems using technology with a business justification.
		   I am looking for a job in a challenging and healthy working environment where I can utilize my skills and knowledge efficiently.
		   I like to challenge myself to get the best out of myself and contribute to be a better team player.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
				Developed and deployed various websites for one of the world's largest American pharmaceutical company using AEM. Delivered ahead of schedule
				with zero defects.
    			</li>
			<li>
            REST API Development using WCS: developed and exposed online functionalities as REST API services for one of the largest department store retailer in the United States with zero defects 
			</li>
			<li>
            Developed an Android application to help wheelchair users and got selected for the GRASP (Graduate Research and Scholarly Projects) Symposium 2018
    		</li>
			
		    </ul>
	    </div>
    </div>
  </div>
</section>
