<section  id="education">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Education</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
				<a href="https://www.wichita.edu/">
				<img class="" src="img/wsu_icon.png" alt="{{ site.name }}">
				</a>
		    <h3>
			    Wichita State University
        </h3>
			<p>
			<b>Master of Science</b><br>
			Major: Computer Science<br>
			GPA: 3.67
			</p>
			<br>
			<h3>
			Karunya University
			</h3>
			<p>
			<b>Bachelor of Technology</b><br>
			Major: Computer Science
			<p>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Masters Coursework</h3>
		  <ul>
  			<li>
			Advanced Algorithms and Analysis
    		</li>
  			<li>
			Advanced Software Engineering
  			</li>
			<li>
			Assistive Mobile Computing (Human Computer Interface)
  			</li>
			<li>
			Information Retrieval
  			</li>
			<li>
			Artificial Intelligence
  			</li>
			<li>
			Data Communication Networks
  			</li>
			<li>
			Mathematical Foundation of Computer Networks
  			</li>
			<li>
			Software Analysis Methods
  			</li>
  		    </ul>
  		<h3 style="margin-top:0">Bachelor's Coursework</h3>
		  <ul>
  			<li>
			Data Structures and Algorithms
    		</li>
  			<li>
			Analysis of Algorithms
    		</li>
			<li>
			Object Oriented Analysis and Design
    		</li>
			<li>
			Cryptography and Network Security
    		</li>
			<li>
			Java Programming
    		</li>
			<li>
			Programming in J2EE
    		</li>
			<li>
			Computer Architecture
    		</li>
			<li>
			Web Technology
    		</li>
  		    </ul>    
      </div>
    </div>
  </div>
</section>
