<section class="tout" id="projects">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects and Skills</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <h3>Projects</h3>
			<ul>
			  <li>
				 <b>Digital experiences across websites and mobile for Merck (May 2015 - Aug 2017)</b><br>
				 Developed product websites for Merck using Adobe Experience Manager (AEM).
				 <br>
				 Technologies and languages used: Java, JSP, JavaScript, HTML, CSS
			  </li>
			  <li>
			  <b>REST Services for e-commerce website and mobile application for Target (Sep 2013 - Apr 2015)</b><br>
			  Developed and maintained REST services using IBM WebSphere Commerce for e-commerce website and mobile application.
			  <br>
			  Technologies and languages used: IBM WCS, Java
			  </li>
			  <li>
			  <b>iOS application to perform audit for P&G (Mar 2013 - Aug 2013) </b><br>
			  Developed iOS application for P&G to perform daily audits
			  <br>
			  Technologies and languages used: Xcode, objective C, SAP MBOs
			  </li>
			  
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Curriculum Projects</h3>
		  <ul>
  			<li>
			  <b>Android application for wheelchair users </b><br>
			  Developed an Android application to help wheelchair users open doors using Bluetooth relay switches, view rear of the wheelchair using UVC camera and send emergency notifications to selected contacts in case of emergency.
			  <br>
			  Technologies and languages used: Android Studio, Java
			  <br>
			  <b>The project got selected for GRASP (Graduate Research and Scholarly Projects) Symposium 2018</b>
			  </li>
			  
		   </ul>
	<h3>GA Projects</h3>
			<ul>
  			<li>
			  <b>Android application to record presentations for Wichita State University Library</b><br>
			  Developed an Android application to record presentations and store the same to pendrive on a button click.
			  <br>
			  Technologies and languages used: Android Studio, Java
			  <br>
			  <b>Received special appreciation from the Director of Library Technologies</b>
			  </li>
			 <li>
			  <b>iOS Application to perform device audit for Wichita State University Library</b><br>
			  Developed an iOS application to perform device audit.
			  <br>
			  Technologies and languages used: Xcode, SWIFT, Google Firebase
			  </li> 
		   </ul>
      </div>
    </div>
  </div>
</section>
